@tailwind base;
@tailwind components;
@tailwind utilities;

.list-card ul{
    margin-top: 1.25em;
    padding-left: 1.2em;
}
.list-card ul li {
    padding-left: 0.375em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    list-style-type: disc;
}